{{#if logo}}
	<div align="center" id="top">
		<img src="Your-Logo-link" alt="{{projectName}}" style="width: 250px" />
	</div>
{{/if}}

<h1 align="center" style="text-align: center; font-size: xxx-large">{{projectName}}</h1>

<div align="center" style="width: 100%; display: flex; justify-content: center; gap: 5px">
	<img
		alt="Github language count"
		src="https://img.shields.io/github/languages/count/{{githubUsername}}/{{repositoryName}}?color=56BEB8"
	/>

	<img
		alt="Github top language"
		src="https://img.shields.io/github/languages/top/{{githubUsername}}/{{repositoryName}}?color=56BEB8"
	/>

	<img
		alt="Repository size"
		src="https://img.shields.io/github/repo-size/{{githubUsername}}/{{repositoryName}}?color=56BEB8"
	/>

	<img
		alt="License"
		src="https://img.shields.io/github/license/{{githubUsername}}/{{repositoryName}}?color=56BEB8"
	/>

	<img alt="App version" src="https://img.shields.io/badge/version-{{version}}-blue.svg" />

</div>
<br />

<div align="center" style="width: 100%; display: flex; justify-content: center; gap: 5px">
	<img
		alt="Github stars"
		src="https://img.shields.io/github/stars/{{githubUsername}}/{{repositoryName}}?color=56BEB8"
	/>

	<img
		alt="Github forks"
		src="https://img.shields.io/github/forks/{{githubUsername}}/{{repositoryName}}?color=56BEB8"
	/>

	<img
		alt="GitHub watchers"
		src="https://img.shields.io/github/watchers/{{githubUsername}}/{{repositoryName}}?color=56BEB8"
	/>

</div>

<!-- Status -->

<hr />

<div
	align="center"
	style="width: 100%; display: flex; justify-content: center; gap: 5px; font-size: small"
>
	<a href="#dart-about">About</a>
	&#xa0; | &#xa0;
	<a href="#sparkles-features">Features</a>
	&#xa0; | &#xa0;
	<a href="#rocket-technologies">Technologies</a>
	&#xa0; | &#xa0;
	<a href="#white_check_mark-requirements">Requirements</a>
	&#xa0; | &#xa0;
	<a href="#checkered_flag-starting">Starting</a>
	&#xa0; | &#xa0;
	{{#if preview}}<a href="#tv-preview">Preview</a> &#xa0; | &#xa0;{{/if}}
	<a href="#memo-license">License</a>
	&#xa0; | &#xa0;
	<a href="https://github.com/Pouish85" target="_blank">Author</a>
</div>

<br />

## :dart: About

{{description}}

## :sparkles: Features

{{#each features}}
	- :heavy_check_mark: **{{this.name}}** :
	{{this.text}}.
{{/each}}

## :rocket: Technologies The following tools were used in this project:

{{#each technologies}}
	- [{{this.name}}]({{this.link}})
{{/each}}

## :white_check_mark: Requirements Before starting :checkered_flag:, you need to have
[Git](https://git-scm.com) installed. #You can add other requirements here if needed. ##
:checkered_flag: Starting To get this project up and running on your local machine, follow these
steps. ```bash # Clone this repository $ git clone git clone https://github.com/{{githubUsername}}/{{repositoryName}}

# Navigate into the project directory $ cd
{{repositoryName}}

# Install the project dependencies $ npm install ``` ## Building for Production To build the project
for deployment, run: ```bash npm run build ``` The compiled build artifacts will be stored in the
dist/ directory. ## Run the application After build you can run the application with the following
command: ```bash npm start ```

{{#if preview}}
	## :tv: Preview

	<div align="center">
		<h3>Your preview Name</h3>
		<img
			alt="Preview-alt-name"
			src="Your-Preview-link"
			style="max-width: 800px; display: block; margin: 0 auto; border-radius: 10px"
		/>
	</div>

	<br />

{{/if}}

## :memo: License This project is under license from MIT. For more details, see the
[LICENSE](LICENSE) file. Made with :heart: by
<a href="https://github.com/{{githubUsername}}" target="_blank">{{githubUsername}}</a>

&#xa0;

<a href="#top">Back to top</a>